<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lessson17">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lessson17">
        <activity
            android:name=".AppsActivity"
            android:exported="false"
            android:label="@string/label_name_AppsActivity"/>
        <activity
            android:name=".EditCounterActivity"
            android:exported="false"
            android:label="@string/label_name_EditCounter" />
        <activity
            android:name=".CreateCounterActivity"
            android:exported="false"
            android:label="@string/label_name_CreateCounter" />
        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:label="@string/label_name_Info" />
        <activity
            android:name=".AnimalActivity"
            android:exported="false"
            android:label="@string/label_name_Animal" />
        <activity
            android:name=".CounterActivity"
            android:exported="false"
            android:label="@string/label_name_Main" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/label_name_Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>